<h1>Gossips#show</h1>
<p>Find me in app/views/gossip/show.html.erb</p>
<p><strong>NOM : </strong><%= @gossip.user.first_name %> <strong> A DIT : </strong>"<%= @gossip.title %> </strong>"<%= @gossip.description %>!"</p> 
<p><strong>Author :</strong> <%= link_to @gossip.user.first_name, user_path(@gossip.user)%></p>
<p><strong>Author's city :</strong> <%= link_to @gossip.user.city.name, city_path(@gossip.user.city)%> </p>
<p><%= link_to "edit", edit_gossip_path, class: "btn btn-dark" %> </p>
