<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>
<p>Nom: <%= @user.first_name %></p>
<p>Email: <%= @user.email %></p>
<p>Age: <%= @user.age %></p>
<p>Description: <%= @user.description %></p>
<p>City: <%= @user.city.name %></p>